body {
    margin: 0;
    background-color: #f4f4f4;
    font-family: 'Arial', 'Apple SD Gothic Neo', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background-color: #ffffff;
    border-bottom: 1px solid #eee;
}

main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo-link {
    user-select: none;
}
.profile-link {
    user-select: none;
    margin-left: auto; 
}